<div class="flex h-screen flex-col">
    <header class="flex absolute top-0 left-0 bg-white items-center justify-between h-[15%] p-5 w-full shadow-2xl">
      <!-------------------------------  logotipo  ----------------------------->
      <div class="flex items-cente space-x-3">
        <img src="LOGO.png" alt="Logo" class="w-[35px] h-[35px] rounded-full" >
        <h1 class="text-2xl font-bold text-green-800">ECONEXION</h1>
      </div>
      <div class="flex space-x-3">
        <button class="text-green-800 bg-[#61A146] w-[50px] h-[50px] rounded-full object-cover"><img src="search.png" alt="search" class="w-[25px] h-[25px]"></button>
        <button class="text-green-800 bg-[#61A146] w-[50px] h-[50px] rounded-full object-cover"><img src="message.png" alt="message" class="w-[25px] h-[25px]"></button>
        <button class="text-green-800 bg-[#61A146] w-[50px] h-[50px] rounded-full object-cover"><img src="LOGO.png" alt="user" class="w-[25px] h-[25px]"></button>
      </div>
    </header>
  <!---->
    <div class="top-[15%] left-0 absolute flex h-[85%] flex-1">
      <aside class="w-52 p-4 border-r  bg-white border-solid border-green-500 bg-transparent">
        <nav class="space-y-4 flex flex-col">
          <a routerLink="eventos"  class="flex items-center  bg-[#61A146]  text-white font-semibold p-2 rounded hover:bg-white hover:border hover:border-[#61A146] hover:text-[#61A146]"> <img src="chek.png" alt="check" class="w-[25px] h-[25px]">Eventos</a>
          <a routerLink="foros" class="flex items-center  bg-[#61A146]  text-white font-semibold p-2 rounded-lg hover:bg-white hover:border hover:border-[#61A146] hover:text-[#61A146]"> <img src="handshake.png" alt="handshake" class="w-[25px] h-[25px]">foros</a>
        </nav>
      </aside>
    </div>
    <main class="flex-1 ml-52 mt-[88px] border-t border-green-500 overflow-hidden overflow-y-scroll">
      <app-publicaciones></app-publicaciones>
    </main>
  </div>
