<div class="flex h-screen flex-col">
    <header class="flex absolute top-0 left-0 bg-white items-center justify-between h-[15%] p-5 w-full shadow-lg shadow-gray-300">
      <!-------------------------------  logotipo  ----------------------------->
      <div class="flex items-center object-cover h-20 w-80 ">
        <img src="LOGO.png" alt="Logo" class="w-[80px] h-[80px] rounded-full" >
        <h1 class="text-2xl font-bold text-green-800">ECONEXION</h1>
      </div>
      <div class="flex space-x-3">
        <button class="text-green-800 flex justify-center items-center w-[50px] h-[50px] rounded-full object-cover border border-[#61A146]"><img src="search.png" alt="search" class="w-[25px] h-[25px]"></button>
        <button class="text-green-800 flex justify-center items-center w-[50px] h-[50px] rounded-full object-cover bg-[#61A146]"><img src="message.png" alt="search" class="w-[25px] h-[25px]"></button>
        <button class="text-green-800 flex justify-center items-center w-[50px] h-[50px] rounded-full object-cover bg-[#61A146]"><img src="LOGO.png" alt="search" class="w-[25px] h-[25px]"></button>
      </div>
    </header>
  <!---->
    <div class="top-[15%] left-0 absolute flex h-[85%] flex-1">
      <aside class="w-52 p-4 border-r  bg-white border-solid border-green-500 bg-transparent">
        <nav class="space-y-4 flex flex-col">
          <a routerLink="eventos"  class="flex items-center  bg-[#61A146]  text-white  p-2 rounded  hover:border hover:border-[#61A146] hover:text-[#ffffff]"> <img src="chek.png" alt="check" class="w-[30px] mr-5 rounded border h-[30px]">Eventos</a>
          <a routerLink="foros" class="flex items-center  bg-[#61A146]  text-white  p-2 rounded-lg + hover:border hover:border-[#61A146] hover:text-[#ffffff]"> <img src="handshake.png" alt="handshake" class="w-[30px] rounded border mr-5 h-[30px]">foros</a>
          <a routerLink="Formpublicaciones" class="flex items-center  bg-[#61A146]  text-white  p-2 rounded-lg  hover:border hover:border-[#61A146] hover:text-[#ffffff]"> <img src="handshake.png" alt="handshake" class="w-[30px] rounded border mr-5 h-[30px]">Crear Publicación</a>       
        </nav>
      </aside>
    </div>
    <main class="flex-1 ml-52 mt-[88px] pt-10 bg-white border-t border-green-500 overflow-hidden overflow-y-scroll">
      <ng-content></ng-content>
    </main>
  </div>
